*.iml
.gradle
*/local.properties
*/.idea/
*/.gradle/
.DS_Store
*/build
*/captures
.externalNativeBuild
CFController/.idea/misc.xml
CFController/.idea/misc.xml
CFController/.idea/misc.xml
CFController/.idea/misc.xml
CFController/.idea/misc.xml
CFController/.idea/misc.xml
CFController/.idea/misc.xml
CFController/.idea/misc.xml
CFController/.idea/misc.xml
CFCollector/.idea/runConfigurations.xml
CFCollector/.idea/gradle.xml
CFCollector/.idea/misc.xml
CFCollector/.idea/runConfigurations.xml
CFController/.idea/misc.xml
CFController/.idea/misc.xml
CFController/.idea/misc.xml
CFController/.idea/misc.xml
CFController/.idea/misc.xml
CFController/.idea/misc.xml
